{% if settings.cart_type == 'drawer' and template.name != 'cart' %}
  {% render 'cart-drawer' block: block %}
{% else %}
  <a
    href="{{ routes.cart_url }}"
    class="header-actions__action action__cart"
    aria-label="{{ 'accessibility.cart' | t }} {{ 'accessibility.cart_count' | t }}: {{ cart.item_count }}"
  >
    {% render 'cart-icon-component' block_settings: block.settings %}
  </a>
{% endif %}

{% style %}
  .header-actions__cart-icon-text {
    font-family: var(--font-{{ block.settings.type_font_primary_link }}--family);
    font-size: {{ block.settings.type_font_primary_size }};
    font-style: var(--font-{{ block.settings.type_font_primary_link }}--style);
    font-weight: var(--font-{{ block.settings.type_font_primary_link }}--weight);
    line-height: var(--menu-font-sm--line-height);
    text-transform: {%- if block.settings.type_case_primary_link == 'uppercase' %}uppercase{% else %}none{% endif -%};
  }
  {% if block.settings.cart_visiable %}
    .cart-drawer {
      visibility: hidden;
    }
  {% endif %}
{% endstyle %}

{% schema %}
{
  "name": "Cart",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "cart_icon_type",
      "label": "Icon type",
      "options": [
        {
          "value": "icon",
          "label": "Icon"
        },
        {
          "value": "text",
          "label": "Text"
        }
      ],
      "default": "icon"
    },
    {
      "type": "text",
      "id": "cart_icon_text",
      "label": "Text",
      "default": "Cart",
      "visible_if": "{{ block.settings.cart_icon_type == 'text' }}"
    },    
    {
      "type": "checkbox",
      "id": "cart_visiable",
      "label": "t:settings.cart_icon_visiable",
      "default": false
    },
    {
      "type": "header",
      "content": "t:content.typography"
    },
    {
      "type": "select",
      "id": "type_font_primary_size",
      "label": "t:settings.top_level_size",
      "options": [
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "1rem"
    },
    {
      "type": "select",
      "id": "type_font_primary_link",
      "label": "t:settings.font",
      "options": [
        {
          "value": "body",
          "label": "t:options.body"
        },
        {
          "value": "subheading",
          "label": "t:options.subheading"
        },
        {
          "value": "heading",
          "label": "t:options.heading"
        },
        {
          "value": "accent",
          "label": "t:options.accent"
        },
        {
          "value": "nav",
          "label": "t:options.nav"
        }
      ],
      "default": "heading"
    },
    {
      "type": "select",
      "id": "type_case_primary_link",
      "label": "t:settings.text_case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "Cart",
      "category": "Header"
    }
  ]
}
{% endschema %}
