{% liquid
  assign block_settings = block.settings
  assign menu = block_settings.menu
  assign heading = block_settings.heading
  assign color_scheme = block_settings.color_scheme
  assign show_as_accordion = block_settings.show_as_accordion
  if show_as_accordion == true and block_settings.accordion_dividers == true
    assign dividers_enabled = true
  endif
%}

{% if menu != blank or heading != blank %}
  <accordion-custom
    class="
      menu
      {% if show_as_accordion == true %} menu--accordion menu--{{ block_settings.accordion_icon }}{% endif %}
      {% if dividers_enabled == true %} menu--dividers{% endif %}
    "
    data-disable-on-desktop="true"
    open-by-default-on-desktop
    {% if show_as_accordion == false %}
      data-disable-on-mobile="true"
      open-by-default-on-mobile
    {% endif %}
  >
    <details
      class="
        menu__details
        spacing-style
        {% if block_settings.inherit_color_scheme == false %} color-{{ color_scheme }}{% endif %}
      "
      data-testid="menu-details"
      style="
        --spacing--size: {{ block_settings.menu_spacing }}px;
        {% if block_settings.order_reverse %}
         display: flex; flex-direction: column-reverse;
        {% endif %}
        {% render 'spacing-style', settings: block_settings %}
      "
      {{ block.shopify_attributes }}
    >
      <summary class="menu__heading{% if heading == blank %} menu__heading--empty{% endif %} {{ block_settings.heading_preset }}">
        <span class="menu__heading__default">{{ heading }}</span>
        <span class="menu__heading__accordion">
          {{ heading | default: menu.title }}
          <span class="menu__heading__toggle svg-wrapper icon-caret icon-animated">
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </span>
          <span class="menu__heading__toggle svg-wrapper icon-plus">
            {{- 'icon-plus.svg' | inline_asset_content -}}
          </span>
        </span>
      </summary>

      <div class="details-content">
        {% if menu %}
          <ul class="list-unstyled footer-menu_link">
            {% for link in menu.links %}
              <li class="menu__item {{ block_settings.link_preset }}">
                <a href="{{ link.url }}" class="footer-menu__item">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </details>
  </accordion-custom>
{% endif %}

<style>
  .list-unstyled.footer-menu_link {
    list-style: disc;
    padding-left: 16px;
  }

  .footer-content .menu__heading__default {
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;.
    font-family: var(--font-h1--family);

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
   .footer-content .list-unstyled.footer-menu_link {
    list-style-type: none;
    padding-left: 0;
   }
   .footer-content .details-content {
    display: block
   }
   .footer-content .menu__heading {
    padding-top: 0;
   }
  .footer-content .footer-menu__item {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    font-family: var(--font-body1--family);
    color: white;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  .footer-menu__item,
  .list-unstyled.footer-menu_link li::marker {
    color: var(--color-primary);
  }

  .menu {
    width: 100%;
  }

  .menu:not(:has(.menu__heading--empty)) .details-content {
    margin-block-start: var(--spacing--size);
  }

  {% if block.settings.content_direction == 'column' %}
    .menu__item + .menu__item {
      margin-block-start: var(--spacing--size);
    }
  {% else %}
    .menu .details-content ul {
      display: flex;
    }
    .menu__item + .menu__item {
      margin-inline-start: var(--spacing--size);
    }
  {% endif %}

  .menu .menu__heading--empty {
    display: none;
  }

  .menu__heading__default {
    display: contents;
  }

  .menu__heading__accordion {
    display: none;
  }

  @media screen and (max-width: 749px) {
    /* Always show the fallback heading on mobile when accordion is enabled */
    .menu--accordion .menu__heading--empty {
      display: flex;
    }

    .menu--accordion .menu__heading__accordion {
      display: contents;
    }

    .menu--accordion .menu__heading__default {
      display: none;
    }

    .menu--accordion .details-content {
      margin-block-start: var(--spacing--size);
    }

    {% if block.settings.content_direction == 'row' and block.settings.vertical_on_mobile == false %}
      .menu .details-content ul {
        display: flex;
      }
      .menu__item + .menu__item {
        margin-inline-start: var(--spacing--size);
      }
    {% else %}
      .menu .details-content ul {
        display: block;
      }
      .menu__item + .menu__item {
        margin-block-start: 18px;
        margin-inline-start: 0;
      }
    {% endif %}

    .menu--accordion .menu__details {
      padding-inline: 0;
    }

    .menu--dividers .menu__details {
      border-block-end: var(--style-border-width) solid var(--color-border);
    }

    .menu--dividers .details-content {
      padding-block-end: var(--padding-sm);
    }
  }

  .menu--caret .icon-plus,
  .menu--plus .icon-caret {
    display: none;
  }
</style>

{% schema %}
{
  "name": "t:names.menu",
  "tag": null,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:settings.menu",
      "default": "main-menu"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:settings.heading"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        },
        {
          "value": "row",
          "label": "t:options.horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "checkbox",
      "id": "vertical_on_mobile",
      "label": "t:settings.vertical_on_mobile",
      "default": true,
      "visible_if": "{{ block.settings.content_direction == 'row' }}"
    },
    {
      "type": "range",
      "id": "menu_spacing",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "checkbox",
      "id": "order_reverse",
      "label": "Order reverse",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_as_accordion",
      "label": "t:settings.show_as_accordion",
      "default": false
    },
    {
      "type": "select",
      "id": "accordion_icon",
      "label": "t:settings.icon",
      "options": [
        {
          "value": "caret",
          "label": "t:options.caret"
        },
        {
          "value": "plus",
          "label": "t:options.plus"
        }
      ],
      "default": "caret",
      "visible_if": "{{ block.settings.show_as_accordion == true }}"
    },
    {
      "type": "checkbox",
      "id": "accordion_dividers",
      "label": "t:settings.dividers",
      "default": false,
      "visible_if": "{{ block.settings.show_as_accordion == true }}"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "header",
      "content": "t:content.typography"
    },
    {
      "type": "select",
      "id": "heading_preset",
      "label": "t:settings.heading_preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        }
      ],
      "default": "h3"
    },
    {
      "type": "select",
      "id": "link_preset",
      "label": "t:settings.link_preset",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        }
      ],
      "default": "paragraph"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-start-mobile",
      "label": "Top Mobile",
      "min": -1,
      "max": 99,
      "step": 1,
      "unit": "px",
      "default": -1
    },
    {
      "type": "range",
      "id": "padding-block-end-mobile",
      "label": "Bottom Mobile",
      "min": -1,
      "max": 99,
      "step": 1,
      "unit": "px",
      "default": -1
    },
    {
      "type": "range",
      "id": "padding-inline-start-mobile",
      "label": "Left Mobile",
      "min": -1,
      "max": 99,
      "step": 1,
      "unit": "px",
      "default": -1
    },
    {
      "type": "range",
      "id": "padding-inline-end-mobile",
      "label": "Right Mobile",
      "min": -1,
      "max": 99,
      "step": 1,
      "unit": "px",
      "default": -1
    }
  ],
  "presets": [
    {
      "name": "t:names.menu",
      "category": "t:categories.links"
    }
  ]
}
{% endschema %}
