<script type="application/ld+json">
  {{ section.settings.product | structured_data }}
</script>

<div class="section-background color-{{ section.settings.color_scheme }} {{ section.settings.visibility }} {% render 'animate', animation: section.settings.animation %}"></div>
{% comment %} <div id="buy-box-section" class="desktop-block"></div> {% endcomment %}
<div
  class="
    featured-product-section
    section
    section--full-width
    color-{{ section.settings.color_scheme }}
    {{ section.settings.visibility }}
    {% render 'animate', animation: section.settings.animation %}
  "
>
  <div
    class="section-content-wrapper spacing-style size-style border-style"
    style="
      {% render 'spacing-style', settings: section.settings %}
      --media-height: 100%;
      {% if request.visual_preview_mode %}
        --visual-preview--height: 100%;
      {% endif %}
    "
  >
    {% capture featured_product_media %}
      {% comment %} {% content_for 'block', type: '_media-without-appearance', id: 'media', closest.product: section.settings.product %} {% endcomment %}
       <div
        class="product-information__media"
        data-testid="product-information-media"
      >
        {%- content_for 'block',
          type: '_product-media-gallery',
          id: 'media-gallery',
          closest.product: section.settings.product
        -%}
      </div>
    {% endcapture %}

    {% capture featured_product_content %}
      {% comment %} {% content_for 'block', type: '_featured-product', id: 'featured-product', closest.product: section.settings.product %} {% endcomment %}
      {% content_for 'blocks' %}
    {% endcapture %}

    {% if section.settings.layout == 'media-left' %}
      {{ featured_product_media }}
      {{ featured_product_content }}
    {% else %}
      {{ featured_product_content }}
      {{ featured_product_media }}
    {% endif %}
  </div>
</div>

{% stylesheet %}
  #buy-box-section .product-information__media + div.group-block {
    max-width: 769px;
  }
  .featured-product-section .section-content-wrapper {
    grid-template-columns: 1fr;
    display: grid;
    overflow: hidden;

    @media (min-width: 750px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 768px) {
    #buy-box-section .text-block.h3 p {
      font-size: 30px;
    }
    #buy-box-section .desktop-text p {
      font-size: 14px;
    }
    #buy-box-section .layout-panel-flex {
      gap: 30px;
    }
  }


  /* Here I should maybe set the width to auto when the ratio is set to adapt */
  .featured-product-section .product-media-container.constrain-height {
    /* arbitrary offset value based on average theme spacing and header height */
    --viewport-offset: 400px;
    --constrained-min-height: var(--visual-preview--height, 80dvh);

    @media screen and (min-width: 750px) {
      --viewport-offset: 300px;
    }
  }

  .featured-product-section .product-grid__card {
    --padding-block: 20px;
    --padding-inline: 20px;

    @media screen and (min-width: 750px) {
      --padding-block: 40px;
      --padding-inline: 40px;
    }
  }

  .featured-product .featured-product-section .section-content-wrapper {
    gap: clamp(45px, 7vw, 118px);

    @media (max-width: 768px) {
      gap: 0;
    }
  }
  #buy-box-section {
    
      padding-top: 90px;
    
  }

  @media screen and (max-width: 749px) {
    .featured-product-section .media-block {
      order: -1;
    }

    .featured-product .variant-option--equal-width-buttons {
      display: flex;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.featured_product",
  "class": "featured-product",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "id": "visibility",
      "label": "t:content.visibility",
      "options": [
        {
          "value": "",
          "label": "Both"
        },
        {
          "value": "hidden--mobile",
          "label": "t:settings.desktop_only"
        },
        {
          "value": "hidden--desktop",
          "label": "t:settings.mobile_only"
        }
      ]
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Trigger animation",
      "default": "slide-in",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fade-in",
          "label": "FadeIn"
        },
        {
          "value": "slide-in",
          "label": "SlideIn"
        }
      ]
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:settings.product"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:settings.media_position",
      "options": [
        {
          "value": "media-left",
          "label": "t:options.left"
        },
        {
          "value": "media-right",
          "label": "t:options.right"
        }
      ],
      "default": "media-left"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-start-mobile",
      "label": "Top Mobile",
      "min": -1,
      "max": 99,
      "step": 1,
      "unit": "px",
      "default": -1
    },
    {
      "type": "range",
      "id": "padding-block-end-mobile",
      "label": "Bottom Mobile",
      "min": -1,
      "max": 99,
      "step": 1,
      "unit": "px",
      "default": -1
    },
    {
      "type": "range",
      "id": "padding-inline-start-mobile",
      "label": "Left Mobile",
      "min": -1,
      "max": 99,
      "step": 1,
      "unit": "px",
      "default": -1
    },
    {
      "type": "range",
      "id": "padding-inline-end-mobile",
      "label": "Right Mobile",
      "min": -1,
      "max": 99,
      "step": 1,
      "unit": "px",
      "default": -1
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_divider"
    }
  ],
  "presets": [
    {
      "name": "t:names.featured_product",
      "category": "t:categories.products",
      "settings": {
        "color_scheme": "scheme-3"
      },
      "blocks": {
        "media-gallery": {
          "type": "_product-media-gallery",
          "static": true,
          "settings": {
            "media_presentation": "carousel",
            "media_columns": "one",
            "image_gap": 0,
            "large_first_image": false,
            "icons_style": "chevron",
            "slideshow_controls_style": "thumbnails",
            "slideshow_mobile_controls_style": "thumbnails",
            "thumbnail_position": "left",
            "thumbnail_width": 44,
            "aspect_ratio": "1/1.25",
            "constrain_to_viewport": true,
            "media_fit": "cover",
            "media_radius": 0,
            "extend_media": false,
            "zoom": false,
            "video_loop": true,
            "hide_variants": true,
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 13,
            "padding-block-start-mobile": 0,
            "padding-block-end-mobile": 12,
            "padding-inline-start-mobile": 0,
            "padding-inline-end-mobile": 0
          },
          "blocks": {}
        },
      }
    }
  ]
}
{% endschema %}
